<header>
    <nav>
        <div class="navElements">
            <div class="navElements">
                <img src="../src/Ellipse1.png" alt="Logo Tropicalia" class="img-logo pointer">
                <span class="ingrid-darling-regular nameLogo pointer">Tropicalia</span>
            </div>

            <div class="navElements ">
                <button >
                    <img src="../src/ham.png" alt="Hamburguer" class="img-common_ham pointer">
                </button>
                <form action="" method="post" class="form-navbar">
                    <input type="text" id="searchBar" class="searchInp" placeholder="Pesquisar">
                    <button>
                        <img src="../src/Lupa.png" alt="Lupa de Pesquisa" class="img-common_search pointer">
                    </button>
                </form>
            </div>

            <div class="navElements">

                <a href="/" class="navElements">
                    <img src="../src/favIcon.png" alt="Favoritos" class="img-common_fav pointer">
                </a>

                <button class="navElements">
                    <img src="../src/carrinho.png" alt="Carrinho de compras" class="img-common_car pointer">
                </button>

                <button class="navElements">
                    <img src="../src/userImg.png" alt="Usuário" class="img-common_user pointer">
                </button>

            </div>  
        </div>
       
    </nav>
    
</header>