<header>
    <nav>
        <div class="navElements">
            <div class="nav_div">
                <img src="../src/Ellipse1.png" alt="Logo Tropicalia" class="img_logo pointer">
                <span class="ingrid-darling-regular nameLogo pointer">Tropicalia</span>
            </div>
            <div class="nav_div">
                <img src="../src/ham.png" alt="Hamburguer" class="img-common_ham pointer">
                <form action="" method="post" class="form-navbar">
                    <input type="text" id="searchBar" class="searchInp" placeholder="Pesquisar">
                    <button>
                        <img src="../src/Lupa.png" alt="Lupa de Pesquisa" class="img-common_search pointer">
                    </button>
                </form>
            </div>
            <div class="nav_div">
                <img src="../src/favIcon.png" alt="Favoritos" class="img-common_fav pointer">
                <img src="../src/carrinho.png" alt="Carrinho de compras" class="img-common_car pointer">
                <img src="../src/userImg.png" alt="Usuário" class="img-common_user pointer">
            </div>
        </div>
       
    </nav>
    
</header>