<header>
    <nav>
        <div class="navElements">
            <div class="navElements">
                <a href="/" class="navElements">
                    <img src="../src/Ellipse1.png" alt="Logo Tropicalia" class="img-logo pointer">
                    <span class="ingrid-darling-regular nameLogo pointer">Tropicalia</span>
                </a>
            </div>

            <div class="navElements ">
                <button >
                    <img src="../src/ham.png" alt="Hamburguer" class="img-common_ham pointer">
                </button>
                <form action="/pesquisar" method="post" class="form-navbar">
                    <input type="text" name="searchBar" id="searchBar" class="searchInp" placeholder="Pesquisar">
                    <button>
                        <img src="../src/Lupa.png" alt="Lupa de Pesquisa" class="img-common_search pointer">
                    </button>
                </form>
            </div>

            <div class="navElements">

                <a href="/favoritos" class="navElements">
                    <img src="../src/favIcon.png" alt="Favoritos" class="img-common_fav pointer">
                </a>

                <a href="/carrinho" class="navElements">
                    <img src="../src/carrinho.png" alt="Carrinho de compras" class="img-common_car pointer">
                </a>

                <button id="div-imgUser" class="navElements dropdown">
                    <img src="../src/userImg.png" alt="Usuário" id="imgUser" class="img-common_user pointer ">
                </button>
                <div class="dropdown-menu">
                    <ul>
                        <li><a href="/mostraInfo">Meu Perfil</a></li>
                        <li><a href="/mostraProd">Meus produtos</a></li>
                        <li><a href="/mostraCompra">Minhas Compras</a></li>
                        <li><a href="/mostraVendas">Minhas Vendas</a></li>
                        <li><a href="/sair">Sair</a></li>
                    </ul>
                </div>

            </div>  
        </div>
       
    </nav>
    
</header>