
<header>
    <nav>
        <div class="navElements">
            <div class="navElements">
                <a href="/" class="navElements">
                    <img src="../src/Ellipse1.png" alt="Logo Tropicalia" class="img-logo pointer">
                    <span class="ingrid-darling-regular nameLogo pointer">Tropicalia</span>
                </a>
            </div>

            <div class="navElements ">
                <div class="dropdown-hamburg">
                     <button onclick="toggleDropdown()"> 
                        <img src="../src/ham.png" alt="Hamburguer" class="img-common_ham pointer"> 
                    </button> <div class="dropdown-content"> 
                        <div class="categoria">Bebida</div>
                         <a href="#">Vodka</a>
                          <a href="#">Whisky</a>
                           <a href="#">Cachaça</a>
                            <a href="#">Cerveja</a>
                             <a href="#">Gin</a>
                              <a href="#">Licor</a> 
                              <a href="#">Saque</a> 
                              <a href="#">Tequila</a>
                               <a href="#">Rum</a>
                                <a href="#">Vinho</a>
                                 <a href="#">Espumante</a> 
                                 <a href="#">Champanhe</a> 
                                 <a href="#">Hidromel</a> 
                                 <a href="#">Sidra</a> 
                                 <a href="#">Conhaque</a> 
                                 <a href="#">Vermute</a> 
                                 <a href="#">Brandy</a>
                                  <a href="#">Martini</a>
                                   <a href="#">Grappa</a> 
                                   <a href="#">Energético</a>
                                    <a href="#">Refrigerante</a> 
                                    <a href="#">Suco</a>
                                     <a href="#">Xarope</a> 
                                     <a href="#">Chá</a>
                                      <a href="#">Calda</a> 
                                      <a href="#">Outros</a>
                                       <div class="categoria">Acessório</div>
                                        <a href="#">Abridor</a> 
                                        <a href="#">Dosador</a> 
                                        <a href="#">Balde</a>
                                         <a href="#">Biqueira</a> 
                                         <a href="#">Coador</a> 
                                         <a href="#">Colher</a> 
                                         <a href="#">Cortador</a> 
                                         <a href="#">Espremedor</a> 
                                         <a href="#">Fôrma</a>
                                          <a href="#">Macerador</a> 
                                          <a href="#">Mixer</a> 
                                          <a href="#">Coqueteleira</a> 
                                          <a href="#">Pegador</a>
                                           <a href="#">Pá de Gelo</a> 
                                           <a href="#">Copo</a> 
                                           <a href="#">Taça</a> 
                                           <a href="#">Caneca</a> 
                                           <a href="#">Jarra</a> 
                                           <a href="#">Outros</a>
                          </div>
                </div>
                <form action="/pesquisar" method="post" class="form-navbar">
                    <input type="text" name="searchBar" id="searchBar" class="searchInp" placeholder="Pesquisar">
                    <button>
                        <img src="../src/Lupa.png" alt="Lupa de Pesquisa" class="img-common_search pointer">
                    </button>
                </form>
            </div>

            <div class="navElements">

                <a href="/favoritos" class="navElements">
                    <img src="../src/favIcon.png" alt="Favoritos" class="img-common_fav pointer">
                </a>

                <a href="/carrinho" class="navElements">
                    <img src="../src/carrinho.png" alt="Carrinho de compras" class="img-common_car pointer">
                </a>

                <button id="div-imgUser" class="navElements dropdown">
                    <img src="../src/userImg.png" alt="Usuário" id="imgUser" class="img-common_user pointer ">
                </button>
                <div class="dropdown-menu">
                    <ul>
                        <li><a href="/mostraInfo">Meu Perfil</a></li>
                        <li><a href="/mostraProd">Meus produtos</a></li>
                        <li><a href="/mostraCompra">Minhas Compras</a></li>
                        <li><a href="/mostraVendas">Minhas Vendas</a></li>
                        <li><a href="/sair">Sair</a></li>
                    </ul>
                </div>

            </div>  
        </div>
       
    </nav>
    
</header>
<%- include("../partials/hfdropdown.ejs"); %>