.principal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;  /* Corrigido */
  flex-direction: column;
}

.spanTamCenter {
  font-size: 7vh !important;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.formProd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7vh;
}

.infosProd {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center; /* Adicionado */
}

.infosProd label {
  font-size: 2.5vh;
  display: grid;
  color: white;
}

.infosProd input {
  border: black;
  border-style: solid;
  border-width: 0.2vh;
  border-radius: 1.5vh;
  padding: 1.5vh;
  width: 50vh;
  height: 2.5vh;
  cursor: pointer;
}

.infosProd input:focus {
  outline: none;
  border: 0.3vh solid;
}

.infosProd textarea {
  border: black;
  border-style: solid;
  border-width: 0.2vh;
  border-radius: 2vh;
  padding: 1.5vh;
  height: 8vh;
  width: 50vh;
  cursor: pointer;
  resize: none;
}

.infosProd textarea:focus {
  outline: none;
  border: 0.3vh solid;
}

.infosProdRight {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between; /* Adicionado */
}

.infosProdRight button {
  font-size: 3vh;
  background-image: linear-gradient(to right, #291BBF 9%, #DE0085 56%, #FF2E00 98%);
  color: white;
  border-radius: 1.5vh;
  height: 12vh;
  width: 35vh;
  cursor: pointer;
  user-select: none;
}

.picture-input {
  display: none;
}

.picture {
  aspect-ratio: calc(4 / 3);
  width: 35vh;
  height: 35vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2vh solid black;
  border-radius: 1.5vh;
  cursor: pointer;
  transition: background 300ms ease-in-out;
}

.picture:hover {
  background: #ccc;
}

.picture:active {
  color: gray;
}

.picture-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5vh;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 3vh;
}

.selectCateg{
  border: black;
  border-style: solid;
  border-width: 0.2vh;
  border-radius: 1.5vh;

  width: 53vh !important;
  height: 6.2vh !important;
  cursor: pointer;
}
.selectCateg:focus {
  outline: none;
  border: 0.3vh solid;
}
.selectCateg-optgroup__option:hover{
  background-color: #f0f0f0; /* Altere para a cor desejada */
}
