:root{
    --gradient-tropicalia:linear-gradient(to right,#291BBF 9%,#DE0085 56%, #FF2E00 98%);
    --gradient-common: linear-gradient(to bottom, #FF4B2B 0%, #FF346C 100%);
}


html{
    box-sizing: border-box;
    font-size: 62.5%;
} 

body{
    background-image: url("../src/imgBack.webp");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    font-family: "Inter", sans-serif;
}  

.principal{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 158vh;
    height: 88vh;
    background-color: white;   
    overflow-y: scroll;
}

.ingrid-darling-regular {
    font-family: "Ingrid Darling", cursive;
    font-size: 10vh;
    font-style: normal;
  }

.section-promo{
    padding:3vh;
}

.nameLogo {
    background-image: linear-gradient(
      to right,
      #2027cb 0%,
      #8B2D4E 26%,
      #cd3100 62%,
      #FB0078 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .searchIptClick {
    outline: 0.1vh;
    outline-color: black;
    outline-style: solid;
  }
  
  
.pointer:hover {
    cursor: pointer;
}
  
  .spanTamCenter{
    font-size: 7vh !important;
    position: absolute;
    left: 60vh;
    transform: translateY(3vh);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.containerProd {
	background-image: linear-gradient( to right,#FF4B2B 2%,#FF346C  100%);
	border-radius: 2.5vh;
	position: absolute;
  left: 17.5vh;
	width: 120vh;
	max-width: 100%;
	height: 76vh;
  transform: translateY(11vh);
  overflow: hidden;
	border-color: none;
	border-style:solid;
}
.infosProd label{
  font-size: 2.5vh;
  display: grid;
  color: white;
  margin-left: 7vh;
  
}
.infosProd{
  display: grid;
  margin-top: 7vh;
  margin-bottom: auto;
  gap: 1.5vh;
}
.infosProd input{
  border: black;
  border-style: solid;
  border-width: 0.2vh;
  border-radius: 1.5vh;
  padding: 1.5vh;
  width: 50vh;
  height: 2.5vh;
  margin-left: 7vh;
  cursor: pointer;
}
.infosProd input:focus{
  outline: none;
  border: 0.4vh solid;
}
.infosProd textarea {
  border: black;
  border-style: solid;
  border-width: 0.2vh;
  border-radius: 2vh;
  padding: 1.5vh;
  height: 8vh;
  width: 50vh;
  margin-left: 7vh;
  cursor: pointer;
}
.infosProd textarea:focus{
  outline: none;
  border: 0.4vh solid;
}
.infosProdRight{
  display: grid block;
  flex-direction: column;
  gap: 2vh;
  margin-left: 73vh;
  transform: translateY(-55vh);
}
.infosProdRight button{
  font-size: 3vh;
  background-image: linear-gradient( to right,#291BBF 9%, #DE0085 56%, #FF2E00 98% );
  color: white;
  border-radius: 1.5vh;
  height: 12vh;
  width: 35vh;
  transform: translateY(7vh);  
  cursor: pointer;
}
.picture-input{
display: none;
}
.picture{
  aspect-ratio: 4/3;
  width: 32vh;
  height: 34vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3vh solid black;
  border-radius: 1.5vh;
  cursor: pointer;
  transition: background 300ms ease-in-out;
  
}
.picture:hover{
  background: #ccc;
  
}
.picture:active{
  color: gray;
} 
.picture-img  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.spanTamCenterInfo{
  display: flex;
  font-size: 8vh !important;
  align-items: center;
  justify-content: center;
  transform: translateY(3vh);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.containerInfos {
	background-image: linear-gradient( to right,#FF4B2B 2%,#FF346C  100%);
	border-radius: 2.5vh;
  position: absolute;
  left:7vh;
	width: 144vh;
	max-width: 100%;
	height: 73vh;
  transform: translateY(5vh);
  overflow: hidden;
	border-color: none;
	border-style:solid;
}