.principal {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden; 
	flex-direction: column;
  }

.spanTamCenter {
	
	font-size: 7vh !important;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
  
.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	padding: 3vh;
}

.container-left{
	background-color: white;
	box-sizing: border-box;
	height: 100%;
	width: 38vh;
	border-radius: 2vh;
	padding: 2vh;
}


.div-info{
	box-sizing: border-box;
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: start;
	justify-content: space-around;
}

.div-info > img{
	height: 16vh;
	width: 16vh;
}
.div-info > span{
	font-size: 5vh;
	user-select: none;
}

.formUser{
	height: 100%;
	width: 100%;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	
	flex-direction: column;	
	overflow: hidden;
	
}


div > input{
	box-sizing:content-box;
	cursor: pointer;
	background-color: white;
	border: solid;
	border-radius: 1.5vh;
	border-width: 0.2vh;
	width: 95%;
	height: 6vh;
	font-size: 2.5vh;
	text-justify: center;
	text-align: left;
	padding-left: 0.7vh;
	
	
}

.formUser button{
		width: 75%;
		height: 6vh;
		box-sizing: border-box;
		cursor: pointer;
		border-radius: 1.5600624024960998vh;
		border: transparent;
		background-image: linear-gradient(to right,#291BBF 9%,#DE0085 56%, #FF2E00 98%);
		color: #FFFFFF;
		font-size: 2vh;
		font-weight: 700;
		padding: 1.5vh 7.02028081123245vh;
		letter-spacing: 0.15600624024961vh;
		text-transform: uppercase;

}

.container-right{
	height: 100%;
	width: 60%;
	display: flex;
	align-items: center;

}
.container-right__geral{
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: row;
	overflow:visible;
	flex-wrap: nowrap;
	justify-content: start;
}
.container-right__endereco{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	color: white;
	
}
.container-right__span span{
	font-size: 5vh;
	margin: 2vh;
	user-select: none;
}

.container-right__div div{
	width: 72%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.container-right__input div > input{
	
	box-sizing:content-box;
	cursor: pointer;
	background-color: white;
	border: solid;
	border-radius: 1.5vh;
	border-width: 0.2vh;
	width: 100%;
	height: 4vh;
	font-size: 2.5vh;
	text-justify: center;
	text-align: left;
	padding-left: 0.7vh;
	
}
.container-right__input div > input:focus{
		outline: none;
		border: 0.3vh solid;
	 
}



.container-right__endereco div > label{
	margin: 0.5vh;
	font-weight: 600;
	user-select: none;
}

.container-right__info{
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	color: white;
}



.swiper-button-prev , .swiper-button-next{
	color: white;
  }
