<%- include("./partials/header.ejs"); %>
<%- include("./partials/navbar.ejs"); %>

<body>
   <section class="principal">
            <section class="teste">
               <div class="div_promo">
                     <div>
                        
                        <a href="" class="img_common img_promo"><img src="../src/bourbon.png" alt=""></a>
                        <a href="" class="img_common img_promo"><img src="../src/HidroMel.jpg " alt=""></a>
                        
                     </div>
                  <a href="" class="img_common img_receita"><img src="../src/negroni.png" alt=""></a>
               </div>
            </section>
   </section>
</body>

<%- include("./partials/footer.ejs"); %>