<%- include("./partials/header.ejs"); %>
<%- include("./partials/navbar.ejs"); %>

<body>
   <section class="principal">
            <section class="section-promo">
               <div class="div-imgs">
                     <div class="div-promo">
                        
                        <a href="" class="img-common "><img class="img-promo" src="../src/bourbon.webp" alt=""></a>
                        <a href="" class="img-common "><img class="img-promo" src="../src/HidroMel.webp" alt=""></a>
                        
                     </div>
                  <a href="" class="img-common"><img class="img-receita" src="../src/negroni.webp" alt=""></a>
               </div>
            </section>

            <section class="section-prod">
               <div class="div-prod swiper ">
                  <span>DE NOSSOS AFILIADOS</span>

                  <div class="slider-wrapper">

                     <div class="carrossel swiper-wrapper" id="carrossel" data-mouse-down-at="0" data-prev-percentage="0">
                        <% for( let i = 1; i <= 20; i++){ %>

                           <%- include("./partials/classCard.ejs" , {id:i} )%>

                        <% } %>
                     </div> 

                  </div>
                  <div class="swiper-pagination "></div>
               </div>   
               
               <div class="div-prod">
                  <span>MAIS VENDIDOS</span>
                  <div class="carrosel">
                     
                    

                  </div>
               </div>
               <div class="div-prod">
                  <span>MAIS VISTOS</span>
                  <div class="carrosel">

                     

                  </div>
               </div>
               <div class="div-prod">
                  <span>ACESSÓRIOS</span>
                  <div class="carrosel">

                  

                  </div>
               </div>
            </section>
   </section>
</body>

<%- include("./partials/footer.ejs"); %>