<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<body>

    <section class="principal">
        <span class="ingrid-darling-regular nameLogo spanTamCenter">Anunciar Produto</span>
            <div class="containerProd">
                    <form action="#" class="infosProd">
                        <div class="inpt1">
                     <label for="nomeProd">Nome do produto</label> 
                        <input type="text" id="nomeProd" name="nomeProd" placeholder="Nome do produto">
                        </div>
                        <div class="inpt2">
                     <label for="categProd">Categoria</label>
                        <input type="text" name="categProd" id="categProd " placeholder="Categoria">
                        </div>
                        <div class="inpt3">
                     <label for="precoProd">Preço do Produto</label>
                        <input type="text" name="precoProd"  id="precoProd" placeholder="Preço do produto">
                        </div>
                        <div class="desc1"> 
                       <label for="descricaoProd">Descrição do produto</label>
                            <textarea name="descricaoProd" id="descricaoProd" placeholder="Descrição do Produto"></textarea>
                        </div>
                    </form>
            </div>
    </section>

</body>