<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<head>
    <link rel="stylesheet" href="nav_style.css">
    <link rel="stylesheet" href="commom.css">
    <link rel="stylesheet" href="../style/categAdm.css">
    
</head>
<body>
    <section class="principal">
        <span class="ingrid-darling-regular nameLogo spanTamCenter">Gerenciamento de Categorias</span>
            <div class="containerOrigin">
                <div class="pegaTudo">
                    <div class="divModal">
                        <button id="icons8--plus"><span id="icons8--plus"></span></button>
                                <div class="conteudoModal" id="conteudoModal">
                                    <form action="/cadastrarCateg" class="formContainer">
                                    <label for="nomeCateg">Nome da Categoria</label>
                                    <input type="text" id="nomeCateg" name="nomeCateg">
                                    <button type="submit" class="btnCateg">Cadastrar</button>
                                    <button type="button" class="btnFechar" id="fecharbtn">Fechar</button>
                                </form>
                                </div>
                            </div>
                    </div>
                    <div class="contentBlock">
                        <div class="blockCategs">
                            <label for="">Categoria</label>
                                <div class="pegaForm">
                                    <form action="/removeCateg" method="post">
                                        <input type="hidden" name="idCateg" id="idCateg" value="">
                                        <button type="submit"><span class="mdi--bin"></span></button>
                                    </form>
                                </div>
                        </div>
                        <div class="blockCategs">
                            <label for="">Categoria</label>
                                <div class="pegaForm">
                                    <form action="/removeCateg" method="post">
                                        <input type="hidden" name="idCateg" id="idCateg" value="">
                                        <button type="submit"><span class="mdi--bin"></span></button>
                                    </form>
                                </div>
                        </div>
                        <div class="blockCategs">
                            <label for="">Categoria</label>
                                <div class="pegaForm">
                                    <form action="/removeCateg" method="post">
                                        <input type="hidden" name="idCateg" id="idCateg" value="">
                                        <button type="submit"><span class="mdi--bin"></span></button>
                                    </form>
                                </div>
                        </div>
                        <div class="blockCategs">
                            <label for="">Categoria</label>
                                <div class="pegaForm">
                                    <form action="/removeCateg" method="post">
                                        <input type="hidden" name="idCateg" id="idCateg" value="">
                                        <button type="submit"><span class="mdi--bin"></span></button>
                                    </form>
                                </div>
                        </div>
                        <div class="blockCategs">
                            <label for="">Categoria</label>
                                <div class="pegaForm">
                                    <form action="/removeCateg" method="post">
                                        <input type="hidden" name="idCateg" id="idCateg" value="">
                                        <button type="submit"><span class="mdi--bin"></span></button>
                                    </form>
                                </div>
                        </div>
                        <div class="blockCategs">
                            <label for="">Categoria</label>
                                <div class="pegaForm">
                                    <form action="/removeCateg" method="post">
                                        <input type="hidden" name="idCateg" id="idCateg" value="">
                                        <button type="submit"><span class="mdi--bin"></span></button>
                                    </form>
                                </div>
                        </div>
                        <div class="blockCategs">
                            <label for="">Categoria</label>
                                <div class="pegaForm">
                                    <form action="/removeCateg" method="post">
                                        <input type="hidden" name="idCateg" id="idCateg" value="">
                                        <button type="submit"><span class="mdi--bin"></span></button>
                                    </form>
                                </div>
                        </div>
                        <div class="blockCategs">
                            <label for="">Categoria</label>
                                <div class="pegaForm">
                                    <form action="/removeCateg" method="post">
                                        <input type="hidden" name="idCateg" id="idCateg" value="">
                                        <button type="submit"><span class="mdi--bin"></span></button>
                                    </form>
                                </div>
                        </div>
                        <div class="blockCategs">
                            <label for="">Categoria</label>
                                <div class="pegaForm">
                                    <form action="/removeCateg" method="post">
                                        <input type="hidden" name="idCateg" id="idCateg" value="">
                                        <button type="submit"><span class="mdi--bin"></span></button>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
                </div>
    </section>
</body>

<%- include("../partials/footer.ejs"); %>
<%- include("../partials/popUpCateg.ejs"); %> 