<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<head>
    <link rel="stylesheet" href="nav_style.css">
    <link rel="stylesheet" href="commom.css">
    <link rel="stylesheet" href="../style/homeAdm.css">
    
</head>

<body>
    <section class="principal">
        <span class="ingrid-darling-regular nameLogo spanTamCenter">Gerenciamento Administrativo</span>
        <div class="containerOrigin">
            <div class="PegaTudo">
                <div class="admLoja">
                   <a href="/lojaProdsAdm"><span class="mdi--store "></span> </a>
                   <h1 class="right">Gerenciar Lojas</h1>
                </div>
                <div class="admCateg">
                   <a href="/categsAdm"> <span class="fa6-regular--square-plus"></span> </a>
                    <h1>Gerenciar Categorias</h1>
                </div>
             </div>
        </div>
    </section>
    

</body>

<%- include("../partials/footer.ejs"); %>