<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<head>
    <link rel="stylesheet" href="nav_style.css">
    <link rel="stylesheet" href="commom.css">
    <link rel="stylesheet" href="../style/homeAdm.css">
    
</head>

<body>
    <section class="principal">
        <span class="ingrid-darling-regular nameLogo spanTamCenter">Gerenciamento Administrativo</span>
        <div class="containerOrigin">
            <div class="PegaTudo">
                <div class="admLoja">
                   <a href="/lojaProdsAdm" class="linkAdm"><span class="mdi--store "></span>  <span class="spanAdm">Gerenciar Lojas</span></a>
                   
                </div>
                <div class="admCateg">
                   <a href="/categsAdm" class="linkAdm"> <span class="fa6-regular--square-plus"></span><span class="spanAdm" >Gerenciar Categorias</span> </a>
                    
                </div>
            </div>
        </div>
    </section>
    

</body>

<%- include("../partials/footer.ejs"); %>