<%- include("../partials/header.ejs"); %>
<%- include("../partials/navbar.ejs"); %>
<head>
    <link rel="stylesheet" href="nav_style.css">
    <link rel="stylesheet" href="style/listProds.css">
    <link rel="stylesheet" href="style/info.css">
    <link rel="stylesheet" href="style/homeStyle.css">
    <link rel="stylesheet" href="style/favs.css">
</head>
<body>
    <section class="principal">
        <span class="ingrid-darling-regular nameLogo spanTamCenter">Meus Produtos</span>
            <div class="container-listProd">
                <div class="conteudo_listProd">
                    <img src="../src/iceLogo.png" alt="Logo da ice">
                        <div class="pegaTudo">
                            <div class="spanProds">
                                <span id="nomeProduto">Nome do Produto</span>
                                <span id="valorProduto">R$ 0,00</span>
                            </div>
                                <div class="pegaForm">
                                    <form action="" method="post">
                                        <button type="" class="ic--baseline-delete"></button>
                                    </form>
                                        <form action="" method="">
                                            <button type="submit" class="btnEdit">Editar</button>
                                        </form>
                                </div>
                        </div>
                </div>
            </div>
    </section>
</body>